<!DOCTYPE html>
<html>
<head>
	<title>手写mvvm</title>
</head>
<body>
	<div id="app">
		<label>用户名</label>
		<input type="text" v-model="username">
		<div>
			<ul>
				<li><span>{{ username }}</span></li>
			</ul>
		</div>
		{{ username }}
		<label>密码</label>
		<input type="text" v-model="password">
		{{ password }}
	</div>
	<script src='watch.js'></script>
	<script src='observer.js'></script>
	<script src='compile.js'></script>
	<script src='mvvm.js'></script>
	<script>
		var vm = new MVVM({
			el: '#app',
			data: {
				username: '',
				password: ''
			}
		})
	</script>
</body>
</html>	